body{
  background-color:white;
  color:#353535;
  font-family:sans-serif;
  line-height:2em;
  text-align:center;
  font-size:14px;
/*   background-image:url(img/body.jpg); */
/*   background-position:50% 0; */
/*   background-repeat:no-repeat; */
/*   background-attachment:fixed; */
}

p{
  padding:0;
  border:0;
}

div#center{
  text-align:justify;
  width:960px;
  margin:0 auto;
}

div#column{
  background-image:url(img/dots_vertical.png);
  background-position:0 0;
  background-repeat:repeat-y;
  padding-top:10px
}

div#main{
  width:680px;
  float:right;
  padding-left:15px;
  padding-right:0px;
}

div#sidebar{
  width:260px;
  float:left;
  font-size:0.8em;
  line-height:1.7em;
}

div#footer{
  clear:both;
  width:100%;
  text-align:center;
  margin-top:40px;
  padding-top:20px;
  font-size:0.8em;
  background-image:url(img/dots.png);
  background-position:0 0;
  background-repeat:no-repeat;
}

div#header_content{
  height:120px;
  width:100%;
  clear:both;
  padding:20px 0;
  background-image:url(img/header-background.png);
  background-position:0 0;
  background-repeat:no-repeat;
}


div#logo{
  color:#39569A;
  font-size:2em;
  float:left;
  padding:15px;
}

div#secondary{
  font-size:1em;
  float:right;
  margin-bottom:8px;
}


div#secondary ul li:first-child{border-left:0}

div#primary{
  height:60px;
  line-height:50px;
  background-image:url(img/dots.png);
  background-position:50% bottom;
  background-repeat:no-repeat;
}


div#secondary ul li, div#primary ul li {
  list-style-type:none;
  display:inline;
}

div#secondary ul li{padding:10px}



div#primary ul li{padding:0}

div#primary ul{
  margin:0;
  padding:0;
}

.clean{
  clear:both;
  width:100%;
}

a, a:link, a:visited, a:active,a:hover{
  text-decoration:none;
  color:#39569a;
  padding:3px;
}

a:hover{
  text-decoration:underline;
  color:#39569a;
}

h1,h2,h3{
 margin:0;
 font-weight:normal;
}

h3{font-size:1.5em}

#sidebar li, #sidebar ul{
  list-style:none;
  padding:0;
  margin:0;
}


#sidebar li{
  margin-top:2px;
  background-color:#f2f0e7;
  padding-top:3px;
  padding-bottom:3px;
}


div#sidebar div.blocktitle{
  color:#707070;
  background-color:#E1E1E1;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}


div.date{
  font-family:georgia;  
  background-color:#39569A;
  color:white;
  width:50px;
  float:left;
  text-align:center;
  font-weight:bold;
  font-size:12px;
  margin-right:15px;
}

div.date .number{
  font-size:24px;
  border-bottom:1px solid #707070;
  padding:3px 0;
}

.content h2.title a{padding:0}

.content h2.title a:link{padding:0}

#main .content{padding-bottom:5px}

.nodetitle h2{
  font-size:1.6em;
  color:#707070;
  margin-left:65px;
}

#main h1.title{
  font-size:1.8em;
  margin-bottom:20px;
}

#main .content p{}

.searchform{
  width:260px;
  display:block;
  float:left;
  margin-top:12px;
}

#menu{margin-left:260px}

.link{
  text-align:right;
  padding-left:4px;
}

.links{font-size:0.8em}

#main .links{padding-bottom:5px}

a.node_read_more{
  background-image:url(img/more.jpg);
  background-position:center left;
  background-repeat:no-repeat;
  padding-left:20px
}

a.comment_add{
  background-image:url(img/comment.jpg);
  background-position:center left;
  background-repeat:no-repeat;
  padding-left:20px
}

.pager{
  margin-top:25px;
  font-size:0.8em;
}

.node{margin-bottom:18px}

.node .content a{text-decoration:underline}

div.comment{}


div#sidebar .block{margin-bottom:8px}

div#sidebar a{padding:5px}

div#sidebar .block-views-TagadelicViewsBlock a{padding:0}

.view-item-comments-recent{padding-left:5px}

div#sidebar .view-item-comments-recent a{padding:0}

.view-data-comments-timestamp{display:none}


h2.title a,
#main h1.title{color:#547FE3}


div#sidebar div.blocktitle{
  color:black;
  font-weight:bold;
}

div#sidebar div.blocktitle{
  background-color:#83A1E4;
  color:white;
}

div#sidebar #block-views-TagadelicViewsBlock a:hover,
div#sidebar #block-block-2 a:hover{
  background-color:transparent;
  text-decoration:underline;
  color:#FF9B37;
}

div#comments .submitted{color:gray}

div#comments .comment a{display:inline}

div#comments{
  background-image:url(img/comment_bg.jpg);
  background-repeat:repeat-y;
  background-position:top center;
}

#contact-mail-page input,
#contact-mail-page textarea{
  background-color:#E7F3FF;
  border:1px solid #39569a;
  padding:5px;
}

div#edit-search-theme-form-1-wrapper label{display:none}

div.searchform #edit-search-theme-form,
div.searchform #edit-search-theme-form-1{
  background-color:#E7F3FF;
  border:1px solid #39569a;
  display:block;
  float:left;
  width:208px;
  height:23px;
  line-height:23px;
  padding:0
}

div.searchform #edit-submit,
div.searchform #edit-submit-1{
  background-color:#E7F3FF;
  border:1px solid #39569a;
  display:block;
  float:right;
  width:50px;
  height:25px;
  background-image:url(img/find-button.png);
  background-repeat:no-repeat;
  background-position:0 0;
  text-indent:50px;
  font-size:0;
  line-height:0;
}

code{
  background-color:#F2F0E7;
  border:1px solid #996633;
  display:block;
  padding:4px
}


ul.galleries li{
  background-color:#F2F0E7;
  border:1px solid #996633;
}

#primary a{
  font-size:1.5em;
  padding-left:20px;
}

.taxonomy{font-size:0.8em}

.taxonomy .links{font-size:1em}

.meta{text-align:right}

.container-inline #edit-search-theme-form-1-wrapper label{
  display:none;
}

hr{
  border:0;
  height:10px;
  background-image:url(img/dots.png);
  background-position:0 0;
  background-repeat:no-repeat;  
}

blockquote{
  border-left:10px solid #e0e0e0;
  padding-left:15px;
  color:#7a7a7a;
  font-size:1.2em;
}